@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");



nav {
  background-color: #19376D;
  height: 100vh;
  position: fixed;
  width: 18%;
  top: 0;

  z-index: 200;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}


.navbar-nav {
  margin-top: 5.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.nav-item {
  list-style: none;
  border-bottom: 1px solid #d4d4e3;
  padding: 1rem 0rem;

}
.fa-icon {
  margin: 0 1rem;
  /* font-size: 1.3rem; */
}
.nav-link {
  font-size: 0.9rem;
  text-decoration: none;
  /* color: #183153; */
color: #fff;
  font-family: Arial, sans-serif;
  transition: all 0.3s linear;
}

.nav-link:hover{
 color: #E57C23;
 font-size: 1.2rem;
}
.nav-link.active{
    color: #E57C23;
    font-size: 1.2rem;   
}

.navbar-brand {
  text-decoration: none;
  color: #fff;

  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3rem;
  font-family: "Pacifico", cursive;
}
@media only screen and (max-width: 600px) {
  nav{
    width: 73%;
    transition: all 0.3s ease-in;
  }
}


